*{
    margin-top: 0;
    padding: 0%;
    box-sizing: border-box;
    
    

}
body{
    margin: auto;
    background-color:black;
    background-position:unset;
    background-size:cover;   
}

.Formulario{
    width: 500px;
    max-width: 100%;
    margin:auto;
    margin-top: 80px;
    padding: 30px;
    box-shadow: 0 0 0px 1px rgba(233, 231, 231, 0.3);
    position: relative;
    font-family: 'PT Sans', sans-serif;
    background-color: purple;

    

}
.Formulario h1{
    text-align: center;
    margin-top: 0;
    color:white;
}
.Formulario input , .Formulario label ,.Formulario button{
    display: block;
    width: 100%;
    font-size: 1.3em;

}
.Formulario input{
    padding:20px;
    border: 1px solid white;
    margin-bottom: 40px;
    color: rgb(15, 15, 15);

}
.Formulario label{
    padding-left: 10px;
    color:white;
}
.Formulario button{
    background: rgba(5, 5, 5, 0.4);
    color:white;
    padding: 10px 20px ;
    cursor: pointer;
    border: none;
}
.Formulario__div {
    background-position: bottom;
    background-size: cover;
    transition: 0.4 ease-out;
    background-repeat: no-repeat;
    color: rgb(246, 245, 247);
    font-size: 0px;
}
input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}
