*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
   
   
}

input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.IniciarSesion{
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53565A;
}

form{
    display: block;
    position: relative;   
}


form .form-inner{
     position: relative;
     display: block;
     background-image: url('../../Assets/img-16.jpg');
     padding: 70px;
     z-index: 19;
     border-radius: 10px;
     
     
}
form .form-inner{
color: rgb(250, 249, 249);
font-size: 30px;
font-weight: 800;
margin-bottom: 100px;

}

form .form-inner .form-group{
    display: block;
    color: white;
    width: 300;
    margin-bottom: 15px;
    
}

.form-inner .form-group label{

    display: block;
    color: white;
    
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.4s;
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    color: black;
    font-size: 25px;
    padding: 10px 15px;
    background-color: rgb(190, 164, 185);
    border-radius: 8px;
    transition: 0.4s;
    
}

form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px black;
}

form .form-inner input[type="submit"],.Bienvenido button{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 25px;
    background-image: linear-gradient(to right,rgb(79, 46, 133),rgb(80, 38, 134),rgb(125, 50, 168) );
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .Bienvenido button:hover{
background-position: 100% 0%;
}

.Bienvenido{
    width: 100%;
    max-width: 900px;
    background-image: url('../../Assets/img-16.jpg');
    padding: 50px 50px;
    border-radius: 10px;
}

.Bienvenido h2{
    color: rgb(250, 248, 252);
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 30px;
}

.Bienvenido h2 span{
    color: rgb(202, 132, 199);
    font-weight: 700;

}


.IniciarSesion  {
    background-image: url('../../Assets/img-16.jpg');
    background-position: bottom;
    background-size: cover;
    transition: 0.4 ease-out;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
  }