
.TemperaturasEst {

    margin: auto;
    padding: auto;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    

}
.Formulario.label {
    display: block;
    width: 100%;
    font-size: 1.3em;

}

.TemperaturasEst h2{
    text-align: center;
    margin-top: auto;
    padding: 50px;
    color: White;
}