.gif{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}


.inicio-container{
    /*background: url('images/img-home.jpg') center center/cover
    no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.inicio-container > h1 {
color: rgb(8, 8, 8);
font-size: 100px;
margin-top: -100px;
}

.inicio-container > p {
    margin-top: 8px;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.inicio-btns {
    margin-top: 32px;
    color: black;
    text-align: center;
    

}

.inicio-btn {
    margin: 6px;
    color: black;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .inicio-container > h1 {
        font-size: 70px;
        margin-top: -150px;
        }
}

@media screen and (max-width:168px ) {
    .inicio-container > h1 { 
        font-size: 50px;
        margin-top: -100px;
        } 
}

.inicio-container > p {
    font-size: 30px;
}

.btn-mobile {
    display: block;
    text-decoration: none;
}

.btn{
    width: 100%;
    color: black;
}